body 
{ 
    margin: 0;
    padding: 0;
    background-color: rgb(243, 237, 237) ;
    font-size: 12px;
    font-family: 'Source Sans Pro', sans-serif;
    
}
* 
{ 
    box-sizing: border-box;
}

h1 
{
  font-weight: 300;
  margin: 5px 0 0;
  font-size: 40px;
  color:#000000;
  padding: 0 10px 10px;
}
h2 
{
  color: #1a1a1b;
  width: 150px;
  font-size: 18px;
  padding-left: 20px;
  padding-top: 12px;
  font-weight:700;
  font-family: 'Merriweather', serif;
}
h3 
{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
  line-height: 28px;
  font-family: 'Merriweather', serif;
}
h2, h3
 {
      margin-top: 2px 
}
a 
{
 color: #4100ba;
 text-decoration: none;
}
a:hover {
background-color:#4f42c9;
color:#fff;
}


.section
{
    border-bottom: 1px solid #ddd;
    padding: 10px 0 15px;
}
.section:last-child { border: none }
.section-text { width: 80%;
             font-size: 18px;
             line-height: 24px;
             margin: 10px 0 10px;
             padding: 0 10px;
}

.desc 
{ 
    font-size: 14px; 
    font-family: 'Source Sans Pro', 
    sans-serif; color:#444;
}


ul
{
padding-left:15px;
}

ul.skills{
float:left;
width:30%;
padding-left:0px;
margin: 0 20px 0 0;
}

ul.skills li{
list-style: none;
font-size:16px;
margin-bottom:10px;
}

ul.skills li:last-child{
margin:0;
}


.row:before, .row:after 
{
     content: "";
     display: table;
}
.row:after 
{
     clear: both 
}
.col 
{
    float: left 
}
.col-right 
{ 
    float: right 
}
.page 
{ 
    width: 1000px;
    min-height: 18.7cm;
    margin: 1cm auto;
    background: rgb(255, 255, 255);
    padding: 20px 50px;
}
@media print {
 .page 
{ 
         margin: 0;
         border: initial;
         border-radius: initial;
         width: initial;
         min-height: initial;
         box-shadow: initial;
         background: initial;
         
 }
 